<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Torta de Sarten</title>
	<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.css">
	<style type="text/css">
		td{
			width: 15%;
			border: 1px solid #000;
		}
		table{
			width: 80%;
			margin: 30px auto;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="page-header">
			<h1>Torta de Sarten<small>          Powered By The Bytery</small></h1>
		</div>
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#">Brand</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
		        <li><a href="#">Link</a></li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li><a href="#">Action</a></li>
		            <li><a href="#">Another action</a></li>
		            <li><a href="#">Something else here</a></li>
		            <li role="separator" class="divider"></li>
		            <li><a href="#">Separated link</a></li>
		            <li role="separator" class="divider"></li>
		            <li><a href="#">One more separated link</a></li>
		          </ul>
		        </li>
		      </ul>
		      <form class="navbar-form navbar-left" role="search">
		        <div class="form-group">
		          <input type="text" class="form-control" placeholder="Search">
		        </div>
		        <button type="submit" class="btn btn-default">Submit</button>
		      </form>
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="#">Link</a></li>
		        <li class="dropdown">
			      <form class="navbar-form navbar-left" action="/">
			        <button type="submit" class="btn btn-default">Log Out</button>
			      </form>
		        </li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>


		<div class="alert alert-success" role="alert">

			<p>Logeed in as <%= user.mail %></p>
		</div>

		<h2><%= nombreTable %> Table Content</h2>
		<table>
			<tr><td>nombre</td><td>apellido</td><td>mail</td><td>password</td><td>seclevel</td></tr>
			<% for (var i = 0; i < movePassing.length; i++) { %>
				<tr><td><%= movePassing[i].nombre %></td>
					<td><%= movePassing[i].apellido %></td>
					<td><%= movePassing[i].mail %></td>
					<td><%= movePassing[i].password %></td>
					<td><%= movePassing[i].seclevel %></td>

				</tr>
			<% } %>

		</table>

	</div>

	<script src="jquery/dist/jquery.js"></script>
	<script src="bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>